@font-face{
    font-family: CMTattooDragon_Cyrillic2;
    src: url("CMTattooDragon_Cyrillic2.otf");
}
.Back_head{
    width: 100%;
    height: 100%;
    background-color: darkcyan;    
    display: block;
    position: fixed;
}
.name_project{
    position: relative;
    left: 920px;
    font-size: 19px;
    font-family: CMTattooDragon_Cyrillic2;
    color: rgba(0, 153, 255, 0.911);
}

.head{
    position: relative;
    left: 140px;
    margin: 5px;
    width: 85%;
    height: 90%;
    background: rgba(0, 101, 255, 0.6);
    display: block;
}